.nounPage {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff9e6;
  border-radius: 8px;
  max-width: 1200px; /* Ограничиваем ширину страницы */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: #8b6914; /* Цвет заголовка */
  font-size: 2rem; /* Размер заголовка */
  font-weight: bold;
  background-color: #f9e79f;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #e0c775;
}
