.taskForm {
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-secondary-color);
    font-weight: bold;
}

.title {
    font-size: var(--font-size-l);
    color: var(--text-secondary-color);
    text-align: center;
    margin: 0;
}

.question {
    font-size: var(--font-size-l);
    color: var(--text-secondary-color);
    text-align: center;
    margin: 0;
}

.options {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.optionButton {
    background: var(--accent-color);
    color: var(--text-secondary-color);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: var(--font-size-l);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        opacity: 0.7;
    }

    &.correct {
        background: #4caf50; // Зеленый цвет для правильного ответа
        color: #fff;
    }

    &.incorrect {
        background: #f44336; // Красный цвет для неправильного ответа
        color: #fff;
    }
}


.hintContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.hintButton {
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: var(--font-size-m);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.hint {
    background: var(--secondary-bg-color);
    color: var(--text-secondary-color);
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    flex: 0 1 auto;

}

.extraButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.extraButton {
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: var(--font-size-m);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.fullAnswer {
    background: var(--secondary-bg-color);
    color: var(--text-secondary-color);
    border: none;
    border-radius: 8px;
    padding: 16px;
    font-size: var(--font-size-m);
    text-align: left;
    width: 100%;
    margin-top: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Полупрозрачный фон
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
