.Navbar {
    display: flex;
    flex: 1; /* Занимает оставшееся пространство */
    align-items: center;
    justify-content: flex-start; /* Выравнивание ссылок слева */
    height: var(--navbar-height);
}

.links {
    margin-left: auto; /* Отодвигаем ссылки вправо */
    display: flex;
    align-items: center;
}

.mainLink {
    margin-right: 25px; /* Отступы между ссылками */
    font-size: var(--font-size-l); /* Размер текста ссылок */
    color: var(--text-primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.mainLink:hover {
    color: var(--accent-color); /* Цвет ссылки при наведении */
}
