.tableContainer {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff9e6;
  border: 1px solid #e0c775;
  border-radius: 8px;
}

.section {
  margin-bottom: 2rem;
}

.sectionHeader {
  background-color: #f9e79f;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
}

.sectionHeader h3 {
  margin: 0;
  color: #8b6914;
  font-size: 1.5rem;
}

.description {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  color: #666;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Фиксированная ширина столбцов */
}

.table th {
  background-color: #fdf3d3;
  color: #8b5c21;
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #e0c775;
  font-size: 1rem;
}



.table tr:nth-child(even) {
  background-color: #fcf7e3;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 30%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 30%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 40%;
}

.note {
  font-style: italic;
  color: #777;
}

.table td {
  padding: 0.5rem;
  border-bottom: 1px solid #f0e0a7;
}