.cardGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
    gap: 24px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 24px;
    background-color: var(--bg-color);

    @media (min-width: calc(281px * 4 + 24px * 3)) {
        grid-template-columns: repeat(4, 1fr);
    }
}
.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); // Темный полупрозрачный фон
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Убедитесь, что это значение выше остальных элементов
}

.taskForm {
    background: var(--primary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 60dvw;
    height:  50dvh;
  overflow: hidden;
}
