.pronounPage {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff9e6;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: #8b6914;
  font-size: 2rem;
  font-weight: bold;
  background-color: #f9e79f;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #e0c775;
}

.section {
  margin-top: 2rem;
}

.sectionTitle {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #8b6914;
}

.table {
  margin-top: 1rem;
}
